.critical {
  color: #ff4242;
}
.serious {
  color: #fff35f;
}
.moderate {
  color: #f287ff;
}
.minor {
  color: #71ff6f;
}
.violationItems {
  margin-left: 1em;
  padding-left: 0.5em;
  border-left: 1px solid gray;
}
